.title {
  margin: 13px 0;
}

.text {
  margin: 22px 0;
}

.quotes {
  margin: 22px 0;
  border-left: 4px solid #d6d6d6;
  padding: 22px 14px;
  background-color: #f9f9f9;

  p {
    font-style: italic;
  }
}

.mapContainer {
  max-width: 600px;
  margin-bottom: 20px;
}
