.title {
    margin: 13px 0;

    @media screen and (max-width: 992px) {

    }

    a {
        color: #151515;;
    }
}

.text {
    margin: 22px 0;
}

.quotes {
    margin: 22px 0;
    border-left: 4px solid #d6d6d6;
    padding: 22px 14px;
    background-color: #f9f9f9;

    @media screen and (max-width: 992px) {
        p {
            margin: 0;
        }

    }

    p {
        font-style: italic;
    }
}

.mapContainer {
    max-width: 600px;
    margin-bottom: 20px;

    @media screen and (max-width: 992px) {
        max-width: 100%;
    }
}

.miniTitle {
    font-size: 7px;
    color: black;
    font-weight: 700;
    margin-top: 10px;
}

.preview {
    margin-bottom: 30px;
}

.description {
    font-family: Arial;
    color: rgb(159, 159, 159);
    font-size: 12px;
    margin-bottom: 10px;

    a {
        color: rgb(0, 102, 204);
    }
}

.published {
    font-family: Arial;
    font-size: 12px;

    span {
        font-weight: 700;
    }

    a {
        color: #555555;
    }
}

.row {
    display: flex;
    color: rgb(0, 102, 204);
    font-size: 14px;

    img {
        margin-right: 20px;
    }
}
