.footer {
    margin-top: 20px;
    max-width: 550px;

    font-family: Arial;
    font-size: 11px;

    justify-self: flex-end !important;
    @media screen and (max-width: 651px) {
        text-align: center;
        max-width: none;
    }


    p {
        margin-bottom: 20px;
        @media screen and (max-width: 651px) {
            font-size: 11px;
            margin-bottom: 10px;
        }

        a {
            color: rgb(85, 85, 85);
        }
    }
}
